.container {
    width: 70%;
    margin: 50px auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.containerForm {
    display: none;
    position: fixed;
    width: 50%;
    margin-top: 20px;
    margin-left: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }

.container h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    width: 30%;
    font-weight: bold;
}

.form-group input, 
.form-group textarea {
    width: 65%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group input[type="date"] {
    width: 65%;
}

.btn{
    text-align: center;
}

.submit-btn{
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cl-btn{
    padding: 10px 20px;
    background-color:red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn button:hover {
    background-color: #218838;
}

.cl-btn button:hover {
    background-color: rgb(155, 15, 15);
}