/* style.css */

body {
    display: flex;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin-left: 250px;
    padding: 30px;        
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

button, a,.editBtn {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover, a:hover {
    background-color: #4cae4c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.float-right {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #0275d8;
}

/* 
.float-right:hover {
    background-color: #025aa5;
} */

.add-task-button {
    float: right;
    background-color: #1545f0;
}

.add-task-button:hover {
    background-color: #456bf4;
}

.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff4d00;}


.del-btn 
{
    background-color: red;
}

.del-btn:hover
{
    background-color: rgb(200, 54, 54);  
    transition: 0.5s;
}

.open-btn
{
    background-color: #1545f0;
    margin-right: 14%;
}

.open-btn:hover
{
    background-color: #456bf4;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    height: 100%;
    box-sizing: border-box;
}

.sidebar h2 {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
}

.sidebar .username {
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #45a049;
}